body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00192C;
    color: #fff;
}

header {
    background-color: #1156a3;
    padding: 20px 0;
    text-align: center;
}

./* Add your custom styles here if needed */
.logo {
    max-width: 25%; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Optional: Add some space between the logo and team name */
}



.player img {
    max-width: 100%;
    height: auto;
}


.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column; /* Stack elements vertically */
}


header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar-nav .nav-link {
    white-space: nowrap; /* Prevent text from wrapping */
}


section {
    padding: 40px 0;
}

.player {
    text-align: center;
    margin-bottom: 40px;
}

.player img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.game {
    color: black;
    text-align: center;
    margin-bottom: 40px;
}

footer {
    background-color: #1156a3;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 0;
}
